:root {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light;
  color: #333;
  background-color: #f5f0e8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
